[hostbup:main]
hostname=storage1.ipa.smith122.com
tar_out_file=/mnt/public/Support/Systems/storage1/config.storage1.$( date "+%Y-%m-%d" ).tgz
script_count=1
script_1_cmd=/usr/share/bgscripts/dli.py . > /tmp/dnf.installed.log
dryrun=0

[hostbup:files]
# this file
/etc/installed/host-bup.conf

# host changelog
/etc/installed/storage1.log

# installed packages from script 1
/tmp/dnf.installed.log

# Samba
/etc/samba/smb.conf
# NFS
/etc/exports
/lib/firewalld/services/nfs-mod.xml

# httpd
/etc/httpd/conf.d/all-ssl.cnf
/etc/httpd/conf.d/local_mirror.conf
/etc/httpd/conf.d/local_mirror-ssl.cnf
/etc/httpd/conf.d/reverseproxyforplex.conf
/etc/pki/tls/certs/https-storage1.ipa.smith122.com.crt
/etc/pki/tls/private/https-storage1.ipa.smith122.com.key
/etc/pki/tls/private/https-storage1.ipa.smith122.com-nopw.key
