[hostbup:main]
hostname=storage1.ipa.smith122.com
tar_out_file=/mnt/public/Support/Systems/storage1/config.storage1.$( date "+%Y-%m-%d" ).tgz
script_count=1
script_1_cmd=/usr/share/bgscripts/dli.sh -v > /tmp/dli.log

[hostbup:files]
/etc/foo
