# File: /usr/lib/systemd/system/dnskeepalive.service
#       when enabled, /etc/systemd/system/dnskeepalive.service
# bgstack15@gmail.com 2017-04-17
[Unit]
Description=dnskeepalive
DefaultDependencies=no
Requires=network.target
After=network.target

ConditionPathExists=/usr/bin/dnskeepalive

[Service]
Type=simple
User=root
Environment=DNSK_DELAY=60 DNSK_RESOLVCONF=/etc/resolv.conf
ExecStart=/usr/share/bgscripts/dnskeepalive.sh
Restart=on-abort
StandardOutput=syslog
StandardError=syslog
ExecStopPost=/usr/share/bgscripts/dnskeepalive.sh --clean

[Install]
WantedBy=multi-user.target
