Package: bgscripts
Version: 1.2-8
Section: utils
Architecture: all
Essential: no
Priority: optional
Description: bgscripts gui components
Maintainer: B Stack <bgstack15@gmail.com>
Homepage: https://bgstack15.wordpress.com/
Depends: bgscripts-core
Recommends: freerdp-x11, zenity
