[Desktop Entry]
Version=1.0
Name=RDP
GenericName=Remote Desktop viewer
Comment=Reads .RDP files
Exec=/usr/share/bgscripts/gui/rdp.sh --gui %f
MimeType=application/x-rdp;
Icon=rdp
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;
Keywords=remote;rdp;
X-Desktop-File-Install-Version=0.22
