[Desktop Entry]
Version=1.0
Name=Resize desktop
GenericName=Resize desktop to window size of VM viewer
Comment=Sends request to resize display
Exec=/usr/share/bgscripts/gui/resize.sh 
Icon=display
Terminal=false
Type=Application
StartupNotify=true
Categories=DesktopSettings;
Keywords=display;resize;virtual;
X-Desktop-File-Install-Version=0.22
